<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>

<body>
    用户名：<input type="text">
    密码：<input type="text">
    验证码：<div id="code">
        <input id="captcha" type="text">
    </div>
    <div id="login">登录</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/static/javascripts/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
        $.ajax({
            url: './captcha',
            success: function (s) {
                $("#code").append(s)
            }
        })
        $("#login").on('click', function () {
            $.ajax({
                url: './register',
                type:'post',
                data:{
                    code:$('#captcha').val()
                },
                success: function (s) {
                    console.log(s)
                }
            })
        })
    </script>
</body>

</html>